@import url(../fonts/fonts.css);

* {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   text-decoration: none !important;
   list-style: none;
   box-sizing: border-box;
   word-wrap: break-word;
   scroll-behavior: smooth;

}

*,
*:before,
*:after {
   box-sizing: border-box;
}

body {
   line-height: 1.5;
   font-family: 'Roboto', sans-serif;
   line-height: 1.5;
   overflow-x: hidden;
}

a {
   display: block;
   color: #000;
}

p {
   display: block;
   font-size: 14px;
   color: #3d3d3d;
   line-height: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   display: block;
   margin: 0;
   font-weight: 600;
   line-height: 24px;
}

h1 {
   font-size: 2.5rem;
}

h2 {
   font-size: 17px;
}

h3 {
   font-size: 1.8;
}

h4 {
   font-size: 1.5;
}

h5 {
   font-size: 1.2;
}

img {
   width: 100%;
   max-width: 100%;
   display: block;
   object-fit: cover;
   transition: 0.1s ease;
}

.btn:focus,
select:focus {
   box-shadow: none !important;
}

.container {
   max-width: 1280px;
}

/* ======== END PAGINATION MENU ======== */
header {
   background: #fff;
}

.header-top {
   padding: 14px 0;
}

.header-top .current-date,
.header-top .toggle-language {
   margin-top: 1rem;
}

.menu-bar .fa-bars,
.search-bar .fa-magnifying-glass,
.header-top .fa-bell,
.hide-content-header .fa-xmark {
   font-size: 20px;
   font-weight: bold;
   width: 40px;
   height: 40px;
   border-radius: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.menu-bar .fa-bars:hover,
.search-bar .fa-magnifying-glass:hover,
.header-top .fa-bell:hover,
.hide-content-header .fa-xmark:hover {
   background: #F9F9F9;
}

.header-top .position-absolute.p-1.bg-danger.rounded {
   top: 4px;
   right: 11px;
}

.header-top .btn {
   padding: 2px 18px;
   color: #00acee;
   font-weight: 600;
}

.header-top .btn:hover {
   background: #F9F9F9;
}

.header-top .toggle-language a:hover {
   text-decoration: underline !important;
   color: #000;
}

.header-top .toggle-language label {
   color: #949494;
}

.hide-content-header {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   width: 280px;
   max-width: 80vw;
   overflow: auto;
   background: #fff;
   display: none;
   z-index: 999;
}

.hide-content-header.active {
   display: block;
}

.hide-content-header ul {
   flex-direction: column;
   padding-left: 2rem;
   padding-right: 2rem;
   margin-top: 4rem;
}

.hide-content-header ul li {
   line-height: 32px;
}

.hide-content-header ul li a {
   font-weight: 600;
   color: #000;
   border-top: 1px solid #dee2e6;
}

.hide-content-header li:first-child a {
   border: none;
}

.hide-content-header ul li a:hover {
   background: #dee2e6;
   color: #0a58ca;
   border-color: #0a58ca;
}

.hide-content-header .close-menu {
   font-size: 22px;
   position: absolute;
   top: 12px;
   right: 2rem;
   cursor: pointer;
}

.overlay {
   position: fixed;
   width: 100%;
   top: 0;
   bottom: 0;
   background: #000;
   opacity: .4;
   display: none;
}

.overlay.active {
   display: block;
   z-index: 999;
   cursor: pointer;
}

.nav-wrap {
   transition: 1s ease;
}

.fixed-top {
   top: -40px;
   background: #fff;
   border: none !important;
   padding: 14px 0;
   box-shadow: 0 0.0625em 0.5em rgba(0, 0, 0, 0.3);
   transform: translateY(40px);
   transition: transform .5s;
   z-index: 999;
}

.hide-content-header .socials-link .d-flex {
   margin-top: 12px;
   justify-content: center;
}


/* ======== END HEADER MENU ======== */

/* ======== START UPDATE MENU ======== */

.update-wrap .row .col-12.col-md-8,
.update-wrap .row .col-lg-9 {
   border-right: 1px solid #dee2e6;
}

.update-wrap .row.py-2.m-0,
.update-wrap .row .aside-content {
   border-top: 1px solid #dee2e6;
}

.update-wrap .col-md-4 .news-content {
   border-bottom: 1px solid #dee2e6;
}

.news-content:hover img {
   transform: scale(1.07);
   transition: .2s ease;
}

.aside-content:hover h2 span,
.aside-content:hover h2,
.news-content:hover h2,
.news-content:hover h2 span {
   color: #0a58ca !important;
}

.news-content:hover {
   color: #000;
}

.update-wrap .header-title {
   font-size: 27px;
   line-height: 42px;
}

time {
   font-size: 12px;
   margin-top: 22px;
   display: block;
}

.news-item {
   border-right: 1px solid #dee2e6;
}

.news-item:nth-child(3) {
   border: none;
}

.news-content,
.aside-content {
   position: relative;
}

/* ======== END UPDATE MENU ======== */

/* ======== START WC MENU ======== */
.wc-wrap {
   padding-bottom: 2rem;
   border-bottom: 1px solid #dee2e6;
}

.wc-wrap .col-sm-6.col-md-4.col-lg-3.mb-4 {
   width: 20%;
}

.wc-content {
   background: #E3F2FD;
   padding-inline: .75rem;
}

.wc-content .col-lg-3 a {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 14px 10px;
   background: #FFFFFF;
   color: #0a58ca;
   border-radius: 6px;
}


.wc-content a:hover {
   color: #FF0000;
}

.wc-content a .fa-solid {
   margin-left: 4px;
}

.wc-content span {
   font-size: 12px;
}

.wc-content img {
   width: auto;
   height: 20px;
}

/* ======== END WC MENU ======== */

/* ======== START TAB MENU ======== */
.tab-section {
   padding: 2rem 0;
}

.tab-wrap .nav a {
   font-size: 1.2rem;
   font-weight: 700;
   color: #000;
}

.tab-wrap .tab-content a {
   font-size: 17px;
   border-top: 1px solid #dee2e6;
}

.tab-wrap .number {
   font-size: 3rem;
   font-weight: 700;
   color: #949494;
}

.tab-wrap .tab-pane p {
   line-height: 27px;
}

.tab-wrap .nav .nav-link.active,
.tab-wrap .nav .nav-link:hover,
.tab-wrap .nav .show>.nav-link {
   color: #FF0000;
   border-bottom: 2px solid #FF0000;
}

.tab-wrap .tab-content a:hover,
.tab-wrap .tab-content a:hover .text-danger {
   color: #0a58ca !important;
}

.tab-wrap .tab-content a:hover .number {
   color: #FF0000;
}

.tab-wrap .row .col-lg-3.mb-4.mb-lg-0,
.tab-wrap .row .col-lg-6 {
   border-right: 1px solid #dee2e6;
}


.tab-wrap .news-content.border-top.position-relative span {
   display: block;
   padding: 12px 0;
   font-size: 18px;
   font-weight: 600;
}

.tab-wrap .news-content:hover span {
   color: #0a58ca;
}

.tab-wrap .col-lg-3.mx-auto .news-content {
   border-bottom: 1px solid #dee2e6;
}

.tab-wrap .col-lg-3.mx-auto .news-content .content {
   margin: 16px 0;
   overflow: hidden;
}

.tab-wrap .col-lg-3.mx-auto .content h2,
.tab-wrap .col-lg-3.mx-auto .content span {
   font-size: 15px;
}

.tab-wrap .col-lg-3.mx-auto .me-2 {
   width: 76%;
}

.update-section,
.entertainment-section,
.living-life-section,
.trade-section,
.video-section,
.photo-section,
.multi-section {
   padding: 2rem 0;
}

/* ======== END TAB MENU ======== */

/* ======== START LOCATION MENU ======== */
.title a {
   font-size: 16px;
}

.title a .fa-angle-right {
   margin-left: 8px;
   color: #FF0000;
}

.title a:hover .fa-angle-right {
   color: #0a58ca;
}

.location-wrap .row-list .col-lg-6,
.location-wrap .row-list:nth-child(2) .col-lg-3 {
   border-right: 1px solid #dee2e6;
}

.vertical-list .mt-4 {
   border-right: 1px solid #dee2e6;
}

.vertical-list .mt-4:nth-child(4) {
   border: none;
}

/* ======== END LOCATION MENU ======== */

/* ======== START ENTERTAINMENT MENU ======== */

.entertainment-wrap .row .col-md-4:nth-child(1),
.entertainment-wrap .row .col-md-4:nth-child(2) {
   border-right: 1px solid #dee2e6;
}

.entertainment-wrap .row .news-content {
   border-top: 1px solid #dee2e6;
   padding: 18px 0;
}

.entertainment-wrap .news-content .d-flex {
   justify-content: space-between;
   align-items: center;
}

/* ======== END ENTERTAINMENT MENU ======== */

/* ======== START LIVING MENU ======== */
.living-wrap .col-md-6:nth-child(1),
.living-wrap .col-md-6:nth-child(2),
.living-wrap .col-md-6:nth-child(3) {
   border-right: 1px solid #dee2e6;
}

/* ======== END LIVING MENU ======== */


/* ======== START TRADE MENU ======== */
.trade-wrap h2 {
   margin-bottom: 12px;
}

/* ======== END TRADE MENU ======== */


/* ======== START VIDEO MENU ======== */
.news-content {
   position: relative;
}

.video-icon,
.img-icon {
   position: absolute;
   top: 3%;
   left: 3%;
   width: 46px;
   height: 46px;
   border-radius: 50%;
   background: #FFCDD2;
   display: flex;
   align-items: center;
   justify-content: center;
}

.video-icon .fa-play,
.img-icon .fa-images {
   font-size: 18px;
   color: #FF0000;
}

.img-icon {
   background: #FF0000;
}

.img-icon .fa-images {
   color: #fff;
}

.headline-title {
   position: absolute;
   width: 100%;
   background: rgb(0, 0, 0);
   background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
   top: 0;
   bottom: 0;
}

.headline-title span {
   position: absolute;
   font-size: 18px;
   color: #fff;
   left: 10%;
   bottom: 8%;
   font-weight: 600;
}

.news-content:hover .headline-title span {
   color: #FFB300;
}

/* ======== END VIDEO MENU ======== */

/* ======== START MULTI MENU ======== */
.multi-wrap .title {
   margin-bottom: 1rem;
}

.multi-wrap h2 {
   margin-top: 12px;
}

.multi-wrap .multi-content {
   padding: 16px 0;
   border-top: 1px solid #dee2e6;
}

.multi-wrap .border-bottom {
   height: 100%;
   padding-top: 3rem;
}

.multi-wrap h2 {
   font-weight: 600;
}

.multi-wrap .multi_h2 {
   font-weight: 300;
   color: #2d3436;
   margin: 0 !important;
}

.multi-wrap .overflow-hidden {
   max-height: 170px;
}

/* ======== END MULTI MENU ======== */

/* ======== START FOOTER MENU ======== */
.footer-wrap a {
   color: #2d3436;
   font-weight: 300;
}

.footer-wrap a:hover {
   color: #0a58ca;
}

.footer-content .top-content a {
   width: 16%;
   display: inline-block;
   margin: 8px 0;
}

.footer-content .middle-content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
}

.footer-content .content-title {
   font-size: 14px;
   margin-bottom: 8px;
   display: block;
   color: #636e72;
}


.hide-content-header .socials-link a i,
.footer-content .socials-link a i {
   width: 35px;
   height: 35px;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16px;
   color: #FFFFFF;
   margin-right: 8px;
   transition: .3s ease;
}

.hide-content-header .socials-link a:hover i,
.footer-content .socials-link a:hover i {
   transform: scale(1.1);
   transition: .3s ease;
}

.hide-content-header .socials-link .fa-facebook-f,
.footer-content .socials-link .fa-facebook-f {
   background: #3b5998;
}

.hide-content-header .socials-link .fa-twitter,
.footer-content .socials-link .fa-twitter {
   background: #00acee;
}

.hide-content-header .socials-link .fa-instagram,
.footer-content .socials-link .fa-instagram {
   background: #f09433;
   background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
   background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
   background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.hide-content-header .socials-link .fa-youtube,
.footer-content .socials-link .fa-youtube {
   background: #FF0000;
}

.footer-content .apps-store .d-flex {
   justify-content: center;
}

.footer-content .apps-store a {
   width: 120px;
}

.footer-content .bottom-content {
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.footer-content .bottom-content a {
   padding-inline: 8px;
}

/* ======== END FOOTER MENU ======== */


/* ======== START MOBILE VIEW ======== */

@media (max-width: 991px) {

   .aside-content a {
      border-top: 1px solid #dee2e6;
   }

   .update-wrap .news-item:nth-child(3) {
      border-right: 1px solid #dee2e6;
   }

   .update-wrap .news-item:nth-child(2),
   .update-wrap .row.py-2.m-0,
   .update-wrap .row .aside-content,
   .tab-wrap .row .col-md-6.col-lg-3.mx-auto .mb-3 {
      border: none !important;
   }

   .wc-wrap .col-sm-6.col-md-4.col-lg-3.mb-4 {
      width: 25% !important;
   }

}

/* ======== END 991PX MOBILE VIEW MENU ======== */

@media (max-width: 767px) {

   .update-wrap .row .col-12.col-md-8,
   .update-wrap .news-item:nth-child(1),
   .update-wrap .news-item:nth-child(3),
   .update-wrap .col-md-4 .news-content {
      border: none;
   }

   .news-item.col-md-6.col-lg-4.my-3 {
      border-bottom: 1px solid #dee2e6;
      padding-bottom: 19px;
   }

   .update-wrap .col-md-4 {
      border-bottom: 1px solid #dee2e6;
      padding-bottom: 12px;
   }

   .tab-wrap .nav {
      justify-content: center;
      align-items: center;
   }

   .tab-wrap .col-lg-3.mb-4.mb-lg-0 {
      text-align: center;
   }

   .multi-wrap .overflow-hidden {
      max-height: 100% !important;
   }

   .footer-wrap .d-inline-block.w-25 {
      width: 50% !important;
   }

   .footer-content .top-content {
      text-align: center;
   }

   .footer-content .top-content a {
      width: auto;
      padding-inline: 12px;
      margin: 6px 0;
   }

   .footer-content .middle-content {
      flex-direction: column;
   }

   .footer-content .apps-store {
      border-top: 1px solid #dee2e6;
      width: 100%;
   }

   .footer-content .bottom-content {
      display: flex;
      flex-wrap: wrap;
   }

   .footer-content .bottom-content a {
      margin: 6px 0;
   }

   .wc-wrap .col-sm-6.col-md-4.col-lg-3.mb-4 {
      width: 50% !important;
   }
}

@media (max-width: 467px) {
   .wc-wrap .col-sm-6.col-md-4.col-lg-3.mb-4 {
      width: 100% !important;
   }
}

/* ======== END 767PX MOBILE VIEW MENU ======== */


/* ======== START FORM MENU ======== */
.login-form {
   position: relative;
   border: 2px solid #bc1888;
   border-radius: 6px;
   background: #fff;
   padding: 18px;
}

.login-form .back-btn {
   position: absolute;
   padding: 6px;
   top: 2%;
   left: 4%;
   cursor: pointer;
}

.login_wrap a {
   display: inline-block;
}

.login-form .login-title {
   margin-bottom: 8px;
   font-size: 22px;
   color: #0a58ca;
}

input:focus,
label:focus,
.btn:focus {
   box-shadow: none !important;
}

.login-form .btn {
   justify-content: center;
   align-items: center;
   background: #ff0000;
   font-weight: 500;
   padding: 4px 0;
   color: #fff;
}

.span-or {
   position: relative;
   display: block;
}

.span-or::before,
.span-or::after {
   content: '';
   position: absolute;
   width: 45%;
   height: 2px;
   background: #dee2e6;
   top: 50%;
}

.span-or::before {
   left: 0;
}

.span-or::after {
   right: 0;
}

.login-form .btn i {
   font-size: 24px;
   display: block;
   margin-right: 8px;
}

.login-form input {
   margin-bottom: 1.5rem;
}

input:focus {
   border-color: #bc1888 !important;
}

.login-form .forgot-btn {
   background: none;
   font-size: 14px;
   margin-bottom: 4px;
   color: #0a58ca;
}

.login_wrap .small {
   font-size: 13px;
   text-align: center;
   margin-top: 8px;
}

.login_wrap .small a {
   color: #0a58ca;
   text-decoration: underline !important;
}

.form-group {
   position: relative;
   overflow: hidden !important;
}

.form-group .input-group-text {
   height: 38px;
   width: 44px;
   justify-content: center;
   background: none;
   border: none;
   cursor: pointer;
}

.input-group-append {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
}

/* ======== END FORM MENU ======== */

#overLay.open {
   display: block;
   opacity: 0;
   z-index: 1;
}

.search-bar .form-group {
   position: absolute;
   top: 20px;
   width: 240px;
   display: none;
}

#searchMenu.active {
   display: inline-flex;
   z-index: 999;
}

.search-bar .form-group input {
   border-radius: .25rem 0 0 .25rem;
   border-right: none !important;
}

.search-bar .form-group .btn {
   background: #0a58ca;
   color: #fff;
   border-radius: 0 .25rem .25rem 0;
}